

header {
    /* Ensure you have a header with some height */
    height: 60px; /* Example height; adjust as needed */
    background-color: #f8f9fa; /* Example background color */
    border-bottom: 1px solid #ccc; /* Example bottom border */
    position: relative; /* Ensure the header stays in place */
}

.con {
    width: 80%; /* Adjust width as needed */
    margin: 20px auto; /* Center the container horizontally and add vertical margin */
    padding: 20px; /* Add padding for spacing */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

.about_us {
    width: 50%;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #d36893;
    margin-bottom: 20px; /* Add space below this div */
    text-align: right;
}

.about_us h1 {
    text-align: center;
    color: var(--second-color);
    font-weight: bold;
    font-size: 3em;
}

.numbers {
    width: 50%; /* Match width to about_us or adjust as needed */
    height: 50px;
    border: 3px solid #d36893;
    text-align: center;
    line-height: 40px;
    font-size: 16px
}
@media (max-width: 768px) {
    .about_us, .numbers {
        width: 100%; /* Full width on smaller screens */
        text-align: center; /* Center text on smaller screens */
    }
}