.con {
    background-color: var(--newbrand-main-color); 
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 40px auto; 
    width: 30%; 
}

.con h1 {
    margin-bottom: 20px; 
    font-size: 2em; 
    color: var(--white-color); 
    text-align: center;
    font-weight: bold;
}

.con input,
.con select,
.con textarea,
.con button {
    width: 80%; 
    margin: auto auto 15px auto; 
    border: 1px solid #ccc; 
    border-radius: 6px; 
    padding: 10px; 
    font-size: 1em;
    text-align: right; 
}


footer {
    width: 100%;
    margin-top: auto; 
}


.con input::placeholder,
.con textarea::placeholder {
    color: #888; 
}


.con select {
    height: auto; 
}


@media (max-width: 768px) {
    .con {
        padding: 15px; 
        width: 90%; 
        margin: 100px auto 20px auto; 
    }

    .con h1 {
        font-size: 1.75em; 
    }
}


.con textarea {
    resize: vertical; 
    min-height: 80px; 
}